* {
  background: #f3f5fc;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Inter', sans-serif;
}

.all {
  display: flex;
  justify-content: center;
  height: 100vh;
}
@media only screen and (max-width: 768px) {

  .all {
    display: block;
  }
  /* .container {
    display: flex;
    flex-direction: column;
  
  } */
  .logo {
    margin: 24px 16px;
    height: 48px;
    width: 32px;
  }
  
  .textArea {
    line-height: 48px;
    border: none;
    font-size: 32px;
    color: #0A3871;
    padding: 16px;
    height: 257px;
    font-size: 24px;
  }
  
  .textArea:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  
  }
  
  .textArea::placeholder {
    color: #0A3871;
    font-size: 32px;
    line-height: 48px;
    padding: 20px 16px;
  }
  p {
    margin: 16px;
  }
  
  .alert {
    font-size: 12px;
    color: #343A40;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 343px;
    height: 67px;
    font-size: 16px;
    border-radius: 24px;
    margin: 16px;
    border-color: #0A3871;
  }
  
  button:disabled {
    opacity: 0.5;
  }
  
  .encrypt {
    color: white;
    background: #0A3871;
  }
  
  .decrypt {
    color: #0A3871
  }
  
  .result {
    height: 247px;
    background: white;
    Effect: Drop shadow;
    border-radius: 32px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 16px;
  
  }
  
  .result h1 {
    font-size: 24px;
    text-align: center;
    margin: 32px;
    background: white;
    padding-top: 30px;
  }
  
  .result p {
    font-size: 16px;
    text-align: center;
    background: white;
    margin: 32px;
  }
  #notFound {
    display: none;
  }
}

/* desktop */

@media only screen and (min-width: 768px) {
  .logo {
    margin: 24px 16px;
    }
  
  .textArea {
    color: #0A3871;
    padding: 0px 200px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    border: none;
    font-size: 32px;
    line-height: 48px;
    height: 800px;
  }
  .textArea:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }
  
  .textArea::placeholder {
    color: #0A3871;
    font-size: 32px;
    line-height: 48px;
    padding: 0px 16px;
  }
  .alert {
    font-size: 12px;
    color: #343A40;
    text-align: center;
    width: 55%;
  }
  button {
    width: 343px;
    height: 67px;
    font-size: 16px;
    border-radius: 24px;
    margin: 16px;
    border-color: #0A3871;
    cursor: pointer;
  }
  
  button:disabled {
    opacity: 0.5;
  }
  .buttons {
    display: flex;
    justify-content: center;
    height: 100px;
  }

  .encrypt {
    background: #0A3871;
    color: white;
  }

  .decrypt {
    color: #0A3871;
  }
  .result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 944px;
    width: 400px;
    margin-top: 100px;

    background-color: #fff;
    border-radius: 32px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .result button {
    position: relative;
    bottom: 0;
    margin-top: 150px;
  
    
  }
  #notFound {
    background: #fff;
  }
  #results {
    background-color: #fff;
    font-size: 24px;
    width: 336px;
    text-align: center;
  }
  #resultsText {
    background-color: #fff;
    font-size: 16px;
    width: 336px;
    text-align: center;
    word-wrap: break-word;
  }
}